data/*.json
data/raw/*.json
data/challenge/*.json
data/bipartite_train/*.pkl
data/bipartite_challenge/*.pkl

data/indexes_challenge/*.txt
data/indexes_train/*.txt

#editor stuff
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc